* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 0 20px;
}
.div .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff ;    
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  gap: 30px;
}
#g {
  padding: 7px;
  border-radius: 5px;
}
#g:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  font-size: 40px;
  color: #000;
}
p {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
}
button {
  padding: 7px;
  font-size: 1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
div{
    display: flex;
    gap: 10px;
}
